<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sony.masalprojemiz" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/masal"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name="com.example.sony.masalprojemiz.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye1"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye2"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye3"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye4"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye5"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye6"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye7"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye8"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye9"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye10"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye11"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye12"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye13"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye14"></activity>
        <activity android:name="com.example.sony.masalprojemiz.hikayeler.Hikaye15"></activity>


        <activity android:name="com.example.sony.masalprojemiz.Sesli.Sesli1"></activity>
        <activity android:name="com.example.sony.masalprojemiz.Sesli.Sesli2"></activity>
        <activity android:name="com.example.sony.masalprojemiz.Sesli.Sesli3"></activity>
        <activity android:name="com.example.sony.masalprojemiz.Sesli.Sesli4"></activity>
        <activity android:name="com.example.sony.masalprojemiz.Sesli.Sesli5"></activity>
        <activity android:name="com.example.sony.masalprojemiz.Sesli.Sesli6"></activity>
        <activity android:name="com.example.sony.masalprojemiz.Sesli.Sesli7"></activity>
        <activity android:name="com.example.sony.masalprojemiz.Sesli.Sesli8"></activity>
        <activity android:name="com.example.sony.masalprojemiz.Sesli.Sesli9"></activity>
        <activity android:name="com.example.sony.masalprojemiz.Sesli.Sesli10"></activity>

    </application>

</manifest>
